body{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQACoBM-uhTVX8E89Cga08McfB1otRyk3buqQCBusDbGP2iTJex');
  font-family: cursive;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#seccion_inicio{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQACoBM-uhTVX8E89Cga08McfB1otRyk3buqQCBusDbGP2iTJex');
  padding: 40px;
}

#seccion_inicio h1{
  font-weight: bold;
  margin: 0 auto;
}

#seccion_porque{
  background: url('https://s-media-cache-ak0.pinimg.com/originals/5c/4f/1c/5c4f1cebc59083f704e3a439a78e748d.jpg');
  padding: 30px;
  color: white;
  margin: 100px;
}

#seccion_porque h1{
  color: purple;
}

#seccion_como{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQACoBM-uhTVX8E89Cga08McfB1otRyk3buqQCBusDbGP2iTJex');
  padding: 30px;
  margin: 100px;
}

#seccion_como h1{
  color: purple;
}

#seccion_servicios{
  background: url('https://s-media-cache-ak0.pinimg.com/originals/5c/4f/1c/5c4f1cebc59083f704e3a439a78e748d.jpg');
  padding: 30px;
  color: white;
  margin: 100px;
}

#seccion_servicios h1{
  color: purple;
}

#seccion_servicios h3{
  color: pink;
}

.centrado {
  margin: 10px auto;
  display: block;
  border-radius: 15%;
}

#seccion_contacto{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQACoBM-uhTVX8E89Cga08McfB1otRyk3buqQCBusDbGP2iTJex');
  padding: 30px;
  margin: 100px;
}

#seccion_contacto input,
#seccion_contacto textarea{
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid pink;
  border-radius: 0;
}

#seccion_contacto button{
  background: pink;
  color: black;
}

#seccion_contacto h2{
  color: purple;
}

#imagen{
  border-radius: 50%;
}

#seccion_servicios .glyphicon{
  font-size: 35px;
}

#imagen2{
  border-radius: 40%;

}

#seccion_servicios h1{
    text-decoration: underline;
}

#seccion_contacto button{
  color: black;
}

#carousel-example-generic{
  padding: 50px;
  margin: 40px;
}

.carousel-inner img{
  height: 540px!important;
  width: 100%!important;
}

#carousel-example-generic h3{
  color: black;
}
